<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h2>Изменение данных</h2>
        <p>
            <span>Введите название задачи</span>
            <input type="text" placeholder="Задача" name="name" value="{{ task.name }}">
        </p>
        <p>
            <span>Введите описание новой задачи</span>
            <input type="text" placeholder="description" name="description" value="{{ task.description }}">
        </p>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>